<div class="card" [routerLink]="['/game', gameId()]">
    <button type="button" class="favorite-button" (click)="toggleFavorite($event)" [title]="favoriteTitle()">
      <span class="material-icons">{{favoriteIcon()}}</span>
    </button>
    <img [src]="gameImageUrl()" [alt]="gameName()" class="card-img">
    
    <div class="card-body">
      <h2 class="card-title">{{ gameName() }}</h2>
      <p class="card-description">{{ gameDescription() }}</p>
      <p class="card-genre">Género: {{ gameGenre() }}</p>
      <p class="card-platform">Plataforma: {{ gamePlatform() }}</p>
      <p class="card-release-date">Fecha de lanzamiento: {{ gameReleaseDate() | date: 'dd/MM/yyyy' }}</p>
      <button type="button" [routerLink]="['/game', gameId()]" class="btn">
        Ver Detalles
      </button>
    </div>
</div>
  
