<div class="add-game-container">
  <header class="add-game-header">
    <button class="back-btn" routerLink="/dashboard" title="Regresar al panel principal">
      <span class="material-icons">arrow_back</span>
      <span>Volver</span>
    </button>
    <div class="header-content">
      <div class="header-text">
        <h1>Añadir juego</h1>
        <p>Busca y añade juegos a tu biblioteca personal. </p>
      </div>
    </div>
  </header>

  <div class="add-game-content">
    <app-game-search (gameSelected)="onGameSelected($event)"></app-game-search>
  </div>
</div>